body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.active_class{
  color: blue;
  border-bottom: 1px solid red;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}
.card_back{
  transform: rotate(180deg) scale(1.1);
  background-color: #141414;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);

}
.card_back span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card_name{
  font-size: 32px;
  line-height: 0.9;
  font-weight: 700;
  text-align: center;
  margin-top:50px;
  padding: auto;
}
.card_name span{
  font-size: 14px;
}
.card_total{
  font-size: 100px;
  margin: 0 8px 0 0 ;
  font-weight: 700;
}
.card_small{
  font-size: 80px;
  text-align: center;
}
.card .card_inner, .card .card_back{
  height: 290px;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}